Repository luispmoraisc/DMS-WASP-193b: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'Linting packages...', echo 'Linting apps...'

chore(global): describe components
  README.md
Due: none

fix(packages/infra): updated_at property on supabase postgresql
  packages/infra/src/database/prisma/migrations/20260114144139_create_initial_tables/migration.sql
  packages/infra/src/database/prisma/migrations/20260114144140_create_initial_policies/migration.sql
  packages/infra/src/database/prisma/migrations/20260114144141_create_policies_of_bucket/migration.sql
  packages/infra/src/database/prisma/schema.prisma
Due: none

ci(global): improve file locations
  .dockerignore
  .env.example
  README.md
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/bootstrap.ts
  apps/api/tsconfig.dev.json
  apps/api/tsconfig.json
  docker-compose.yml
  docker/caddy/Caddyfile
  docker/caddy/Dockerfile
  docker/grafana/provisioning/dashboards/database_metrics.json
  docker/prometheus/prometheus.yml
  docs/home.png
  docs/login.png
  docs/thumbnail.png
  docs/uploaded.png
  package.json
  packages/infra/src/database/metrics/prisma.metrics.ts
  packages/infra/src/supabase/lib/client.ts
  packages/infra/src/supabase/metrics/supabase.metrics.ts
  packages/infra/src/supabase/repositories/supabase-user.repository.ts
  packages/interfaces/src/http/metrics/http.metrics.ts
Due: echo 'Linting packages...', echo 'Linting apps...'

feat(global): map supabase auth errors on domain and infra
  packages/domain/src/errors/user.errors.ts
  packages/infra/README.md
  packages/infra/src/database/prisma.config.ts
  packages/infra/src/supabase/catalogs/supabase-user.catalog.ts
  packages/infra/src/supabase/repositories/supabase-user.repository.ts
  packages/infra/src/supabase/translator.ts
  packages/interfaces/src/http/controllers/user.controller.ts
  packages/interfaces/src/http/middlewares/auth.middleware.ts
  packages/interfaces/src/http/middlewares/error-handler.middleware.ts
  packages/interfaces/src/http/routes/app.routes.ts
Due: echo 'Linting packages...'

feat(process): create process file route
  .env.example
  apps/api/src/index.ts
  docker-compose.yml
  docker/caddy/Caddyfile
  packages/application/src/register.ts
  packages/application/src/use-cases.ts
  packages/application/src/use-cases/file/process.use-case.ts
  packages/application/src/use-cases/profile/update.use-case.ts
  packages/application/src/use-cases/user/me.use-case.ts
  packages/application/src/use-cases/user/signin.use-case.ts
  packages/application/src/use-cases/user/signup.use-case.ts
  packages/domain/src/schemas.ts
  packages/domain/src/schemas/file.schema.ts
  packages/interfaces/src/http/controllers/file.controller.ts
  packages/interfaces/src/http/routes/app.routes.ts
  packages/interfaces/src/http/routes/file.routes.ts
Due: echo 'Linting packages...', echo 'Linting apps...'

Path conditions:
  echo 'Linting packages...': any of: packages/**/*.{ts,tsx,json,md,yml}
  echo 'Linting apps...': any of: apps/**/*.{ts,tsx,json,md,yml}
